chromedriver_linux64.zip
debug_screenshot.png
google-chrome-stable_current_x86_64.rpm
LICENSE.chromedriver
catboost_info/catboost_training.json
catboost_info/learn_error.tsv
catboost_info/test_error.tsv
catboost_info/time_left.tsv
catboost_info/learn/events.out.tfevents
catboost_info/test/events.out.tfevents
models_v2/catboost_info/catboost_training.json
models_v2/catboost_info/learn_error.tsv
models_v2/catboost_info/test_error.tsv
models_v2/catboost_info/time_left.tsv
models_v2/catboost_info/learn/events.out.tfevents
models_v2/catboost_info/test/events.out.tfevents

*.csv
*.ipynb_checkpoints
*.pyc
__pycache__/
.env
.vscode/
*.tsv
*.tfevents
#*.pkl
*.cbm
*.pdf
#*.json
